.App {
  margin-left: 5%;
  margin-right: 5%;

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2px;

}


.homeHeader {
  font-family: Georgia, serif;
  font-size: 80px;
  padding-top: 5%;
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
  background-color: orange;
  padding-bottom: 5%;
}

.navBar{
  grid-column: 1/3;
  grid-row:2;
  text-align: center;
}

.search{
  grid-column: 1;
  grid-row: 3;
}

.logout{
  grid-column: 4;
  text-align: center;
}

.signinHead{
  grid-column: 1;
  grid-row: 4;
  text-align:  center
}

.signinForm{
  grid-column: 1;
  grid-row: 5;
  text-align: center;
}

.publicPostHead{
  grid-column: 1;
  grid-row: 6;
  text-align: center;
}


.joinHead{
  text-align: center;
  grid-column: 1;
  grid-row: 5;
}
.joinFor{
  text-align: center;
  grid-column: 1;
  grid-row: 6;
}
.profilehead{
  text-align: center;
  grid-column: 1;
  grid-row: 5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

